body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.todo-container {
    background-color: white;
    width: 400px;
    padding: 25px;
    border-radius: 12px;
}

h1 {
    text-align: center;
}

.input-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 12px;
    font-size: 16px;
}

button {
    padding: 12px 18px;
    cursor: pointer;
}

li {
    margin-top: 12px;
    padding: 10px;
    background-color: #eeeeee;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    background-color: #222;
    color: white;
    border: none;
    padding: 5px 10px;
}