body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #222;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
}

#display {
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    font-size: 25px;
    text-align: right;
    margin-bottom: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 55px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}

.zero {
    grid-column: span 2;
}